#slideshow {
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
}

#preview {
	position: absolute;
}

#imagegallery li {
	display: inline;
}

label {
	display: block;
}

fieldset {
	border: 0;
}